@import "tailwindcss";

:root {
  --u-grid-columns: 2;
  --u-grid-gap: 4rem;
  --u-container-padding: 1.4rem;

  @media (min-width: 46em) {
    --u-grid-columns: 8;
    --u-container-padding: 2rem;
  }
}

@theme {
  --ease-circ: cubic-bezier(0.645, 0, 0.045, 1);
  --color-forest-light: #6ee26b;
  --color-forest-dark: #1a5619;
  --color-ocean-light: #46ccd5;
  --color-ocean-dark: #09465a;
}

body {
  font-family: "Bricolage Grotesque", Arial, Helvetica, sans-serif;
}

@keyframes moveOut {
  from {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0) scale(1);
  }
  to {
    opacity: 0.5;
    filter: blur(5px);
    transform: translateY(-45%) scale(0.95);
  }
}

@keyframes moveIn {
  from {
    transform: translateY(30%);
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    transform: translateY(0);
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
  }
}

::view-transition-old(root) {
  animation: 1.2s var(--ease-circ) both moveOut;
}

::view-transition-new(root) {
  animation: 1.2s var(--ease-circ) both moveIn;
}

p:not(:last-of-type) {
  margin-bottom: 1.25rem;
}

.o-container {
  padding: 0 var(--u-container-padding);
}

.o-grid {
  display: grid;
  column-gap: var(--u-grid-gap);
  row-gap: calc(var(--u-grid-gap) * 1.25);
  grid-template-columns: repeat(var(--u-grid-columns), 1fr);
}

.o-grid--bleed {
  margin: 0 calc(-1 * var(--u-container-padding));
  padding: 0 var(--u-container-padding);
}

.cta-interaction {
  @apply ease-circ transition-all duration-[400ms];
}

.t-forest {
  @apply bg-forest-light text-forest-dark;
}

.t-ocean {
  @apply bg-ocean-light text-ocean-dark;
}

.vinylMask {
  mask-image: url("/images/vinylMask.svg");
  -webkit-mask-image: url("/images/vinylMask.svg");
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  animation: rotateImage 7s linear infinite;
}

@keyframes rotateImage {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
