@import "tailwindcss";

@theme {
  --ease-circ: cubic-bezier(0.645, 0, 0.045, 1);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
